body,
html {
    width: 100%;
    font-family: Arial;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a,
a:hover,
a:visited,
a:focus {
    text-decoration: none;
}

.fixed-menu {
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 60px;
    padding: 0 10%;
    text-align: center;
}

.fixed-menu .logo {
    position: relative;
    float: left;
    height: 70px;
}

.fixed-menu .logo img {
    height: 100%;
}

.fixed-menu #menu {
    margin: 10px 0 0;
    padding: 0;
    display: inline-block;
}

.fixed-menu #menu li {
    list-style: none;
    display: inline-block;
    padding: 0px 5px 23px;
}

.fixed-menu #menu li a {
    color: rgb(221, 221, 221);
    font-size: 14px;
    padding-top: 10px;
    display: inline-block;
}

.fixed-menu #menu li:hover>a {
    color: white;
}


.fixed-menu #menu li>ul>li:hover>a {
    color: white;
}


.fixed-menu #menu li>ul>li>ul>li:hover>a {
    color: white;
}

.fixed-menu #menu li small {
    font-size: 8px;
    vertical-align: middle;
}

.fixed-menu #pros {
    float: right;
    margin-top: 30px;
}

.fixed-menu #menu  li>ul {
    display: none;
    z-index: 100;
    padding: 0;
    position: absolute;
    top: 60px;
    width: 220px;
}

.fixed-menu #menu  li>ul ul {
    display: none;
    z-index: 100;
    padding: 0;
    position: absolute;
    width: 220px;
    left: 221px;
    top: inherit;
}

.fixed-menu #menu li:hover>ul {
    display: block;
}

.fixed-menu #menu li>ul>li:hover>ul {
    display: inline-block;
}

.fixed-menu #menu li>ul>li:hover>ul li:first-child {
    margin-top: 0;
}

.fixed-menu #menu li:hover ul li {
    display: block;
    padding: 0;
    height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 1px;
}

.fixed-menu .just-content {
    display: none;
            transform: skew(20deg);
    -webkit-transform: skew(20deg);
       -moz-transform: skew(20deg);
         -o-transform: skew(20deg);
        -ms-transform: skew(20deg);
    background: white;
    padding: 5px 15px;
    position: absolute;
    top: 60px;
    left: calc(10% + 260px);
}

.fixed-menu .just-content .content-phone li {
    display: inline-block;
}

.fixed-menu .just-content .content-phone li big {
    font-size: 18px;
}

.fixed-menu .just-content .content-phone {
    list-style: none;
    margin: 0;
    padding: 0;
            transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
       -moz-transform: skew(-20deg);
         -o-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
}

.footer {
    position: relative;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 60px;
    padding: 0 10%;
    text-align: center;
}

.footer .copy {
    position: relative;
    float: left;
    margin-top: 20px;
    font-size: 16px;
    color: white;
}

.footer #footer-menu {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.footer #footer-menu li {
    list-style: none;
    display: inline-block;
    padding: 10px 10px 20px;
}

.footer #footer-menu li a {
    color: rgb(221, 221, 221);
    font-size: 14px;
    padding-top: 10px;
    display: inline-block;
}

.footer #footer-menu li:hover>a {
    color: white;
}

.footer .icon {
    position: relative;
    float: right;
    margin-top: 13px;
}

.footer .icon img {
    width: 30px;
    height: 30px;
}

.content {
    min-height: calc(100vh - 60px);
    padding: 100px 10%;
    background: url(img/uslugi-bg.png);
}

.breadcrumb {
    background-color: transparent;
    color: #279f36;
}

.breadcrumb span {
    color: black;
}

.breadcrumb a {
    text-decoration: underline;
    color: black;
}

button.button.alt, 
input.button.alt {
    background-color: #d96d00;
    border-radius: 0;
    height: 70px;
    max-width: 180px;
    text-align: left;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.55);
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.55);
            transform: skew(20deg);
    -webkit-transform: skew(20deg);
       -moz-transform: skew(20deg);
         -o-transform: skew(20deg);
        -ms-transform: skew(20deg);
}

button.button.alt p, 
input.button.alt p {
    padding: 5px 0 0 10px;
    font-weight: 400;
            transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
       -moz-transform: skew(-20deg);
         -o-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
}

button.button, 
input.button {
    white-space: normal;
}

.calc-bg {
    background: url(img/calc-bg.jpg) no-repeat;
    background-size: cover;
    width: 90%;
    margin: 0 auto;
}

.calc-bg>p {
    padding: 20px 0 10px 50px;
}

.calc-bg .tabs {
    list-style: none;
    text-align: center;
    border-bottom: 5px solid #d96d00;
    margin: 0 2px;
    position: relative;
    top: 7px;
}

.calc-bg .tabs li.active {
    background-color: #d96d00;
}

.calc-bg .tabs li {
    width: 150px;
    height: 60px;
    display: inline-block;
    background-color: grey;
    cursor: pointer;
            transform: skew(20deg);
    -webkit-transform: skew(20deg);
       -moz-transform: skew(20deg);
         -o-transform: skew(20deg);
        -ms-transform: skew(20deg);
}

.calc-bg .tabs li p {
    padding-top: 8px;
    font-size: 30px;
            transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
       -moz-transform: skew(-20deg);
         -o-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
}

.calc-bg #border-grey {
    border: 2px solid grey;
    padding: 25px;
}

.calc-bg .tabs-panel .info-panel#one {
    display: block;
}

.calc-bg .tabs-panel .info-panel {
    display: none;
    height: 120px;
}

.calc-bg .tabs-panel .info-panel .panel-img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 15px;
    border: 1px solid white;
    overflow: hidden;
    position: relative;
}

.calc-bg .tabs-panel .info-panel img {
    width: 100%;
    min-height: 100%;
}

.calc-bg .tabs-panel .info-panel .mono-system {
    font-size: 25px;
    font-weight: 600;
}

.calc-bg .radiobox {
    margin-bottom: 20px;
}

.radio-ul input#kont,
.radio-ul input#bezkont {
    width: 20px;
    height: 20px;
    position: absolute;
    opacity: 0;
}

.radio-ul input#kont + label,
.radio-ul input#bezkont + label {
    font-size: 14px;
    display: block;
    padding-left: 25px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    width: calc(100% - 4px);
    height: 20px;
}

.radio-ul input#kont + label:before,
.radio-ul input#bezkont + label:before {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -11px;
    background: rgba(0, 0, 0, 0) url(img/radio.png) no-repeat;
    background-size: cover;
    z-index: 5;
    content: '';
}

.radio-ul input#kont:checked + label:before,
.radio-ul input#bezkont:checked + label:before {
    background-position: 0 -20px;
}

.calc-bg input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

.calc-bg .radio-ul li input,
.calc-bg .radio-ul li label,
.calc-bg .input-ul li input,
.calc-bg .input-ul li label {
    display: inline-block;
    vertical-align: middle;
}

.calc-bg .radio-ul li label,
.calc-bg .input-ul li label {
    width: calc(100% - 30px);
    font-weight: 400;
    margin: 0;
    line-height: 15px;
}

.calc-bg .tabs-panel hr {
    border-color: grey;
}

.calc-bg .sop-tov .input-ul {
    padding: 0;
}

.calc-bg .sop-tov .input-ul li,
.calc-bg .sop-tov .radio-ul li {
    width: calc(33% - 4px);
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
}


.calc-bg .tab-price {
    text-align: center;
}

.calc-bg .tab-price #price-name {
    margin-right: 20px;
}

.calc-bg p.price {
    display: inline-block;
    width: 200px;
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
    padding: 10px 20px;
    color: #77a464;
    border: 1px solid grey;
            transform: skew(20deg);
    -webkit-transform: skew(20deg);
       -moz-transform: skew(20deg);
         -o-transform: skew(20deg);
        -ms-transform: skew(20deg);
}

.calc-bg p.price .amount {
    display: block;
            transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
       -moz-transform: skew(-20deg);
         -o-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
}

.calc-bg .tab-price .button {
    display: inline-block;
    margin-top: 20px;
    vertical-align: top;
    border: 0;
    color: white;
}

#modal_form {
    width: 500px; 
    height: 500px;
    background: url(img/uslugi-bg.png);
    position: fixed;
    top: 33% !important;
    left: calc(50% - 250px); 
    margin-top: -150px;
    display: none;
    opacity: 0;
    z-index: 5000;
}

/* Пoдлoжкa */
#overlay {
    z-index:3000;
    position:fixed;
    background-color:#000;
    opacity:0.8;
    -moz-opacity:0.8;
    filter:alpha(opacity=80);
    width:100%; 
    height:100%;
    top:0;
    left:0;
    display:none;
    font-size: 1px;
    color: transparent;
}

#modal_form #modal_close,
#info_close {
    float: right;
    padding-top: 4px;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    transition: color 0.1s linear;
    color: white;
    text-align: center;
    background-color: grey;
    width: 30px;
    height: 30px;
}

#modal_form #modal_close:hover,
#info_close:hover {
    color: #d96d00;
}

#modal_info {
    width: 300px; 
    height: 200px;
    background: url(img/uslugi-bg.png);
    position: fixed;
    top: 33% !important;
    left: calc(50% - 150px);
    display: none;
    opacity: 0;
    z-index: 5000;
/*            transform: skew(20deg);
    -webkit-transform: skew(20deg);
       -moz-transform: skew(20deg);
         -o-transform: skew(20deg);
        -ms-transform: skew(20deg);*/
}

#modal_info>p {
    font-size: 20px;
    font-weight: 700;
    padding: 50px 10%;
/*            transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
       -moz-transform: skew(-20deg);
         -o-transform: skew(-20deg);
        -ms-transform: skew(-20deg);*/

}

#modal_form .modal-ul {
    padding: 50px 10%;
}

#modal_form .modal-ul li {
    list-style: none;
    margin-bottom: 15px;
}

#modal_form .modal-ul li label {
    width: 90px;
}

.calc-bg #trostq {
    position: absolute;
    opacity: 0;
}

#modal_form .modal-ul li label.button {
    display: inline-block;
    margin-top: 20px;
    vertical-align: top;
    width: 180px;
    padding: .618em 1em;
}

#modal_form .modal-ul li label.button.alt {
    background-color: #d96d00;
    border-radius: 0;
    height: 70px;
    max-width: 180px;
    text-align: left;
    cursor: pointer;
    width: 180px;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.55);
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.55);
            transform: skew(20deg);
    -webkit-transform: skew(20deg);
       -moz-transform: skew(20deg);
         -o-transform: skew(20deg);
        -ms-transform: skew(20deg);
}

label.alt p {
    padding: 5px 0 0 10px;
    font-weight: 400;
    color: white;
    line-height: 14px;
            transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
       -moz-transform: skew(-20deg);
         -o-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
}

.radio-hidden {
    display: none;
}